.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;

}

.BuildControl button {
    /* display: block; */
    font: inherit;
    padding: 5px; 
    margin: 0 5px; 
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: antiquewhite;
    border: 1px solid burlywood;
    color: antiquewhite;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: aliceblue;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80;
}

.BuildControl .Less {
    background-color: rgb(238, 131, 10);
    color: white;
}

.BuildControl .More {
    background-color: rgb(241, 119, 4);
    color: white;
}


.BuildControl .Less:hover, .BuildControl .Less:active {
    background-color: rgb(243, 156, 74);
    color: white;
}

.BuildControl .More:hover, .BuildControl .More:active {
    background-color: rgb(226, 162, 103);
    color: white;
}
