.CakeBottom {
    height: 30%;
    width: 50%;
    background: linear-gradient(#F08E4A, #e27b36);
    box-shadow: inset -15px 0 #c15711;
    margin: 0% auto;
}

.TopCake {
    padding-top: 15px;
    padding-left: 0;
    margin-left: 0;
}

.FontBase {
    padding-top: 10px;
    padding-left: 0;
    margin-left: 0;
}

.CookieTop {
    height: 30%;
    width: 50%;
    background: linear-gradient(#bc581e, #e27b63);
    box-shadow: inset -15px;
    margin: 0% auto;
    position: relative;
}

.Cream1{
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.671);
    left: 30%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(-20deg);
    box-shadow: inset -2px -3px #c9c9c9;
}

.Cream1:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(194, 47, 47, 0.582); 
    left: -170%;
    top: -260%;
    border-radius: 40%;
    transform: rotate(-60deg);
    box-shadow: inset -1px -2px #c9c9c9;
}

.Cream1:before{
    ccontent: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(19, 233, 19, 0.534); 
    left: -180%;
    top: -50%;
    border-radius: 40%;
    transform: rotate(-60deg);
    box-shadow: inset -1px -3px #c9c9c9;
}

.Cream2{
    content: "";
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: rgba(235, 19, 145, 0.589);
    left: 64%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(10deg);
    box-shadow: inset -3px 0 #c9c9c9;
}

.Cream2:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(37, 122, 172, 0.582);
    left: 150%;
    top: -130%;
    border-radius: 90%;
    transform: rotate(10deg);
    box-shadow: inset 1px 3px #c9c9c9;
}
.Cream2:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(159, 199, 49, 0.63);
    left: 150%;
    top: -130%;
    border-radius: 90%;
    transform: rotate(10deg);
    box-shadow: inset 1px 3px #c9c9c9;
}

.Chocolate {
    width: 50%;
    height: 20%;
    margin: 1% auto;
    background: linear-gradient(#692d05, #963305);
    border-radius: 5px;
}

.Strawberry {
    width: 50%;
    height: 20%;
    margin: 1% auto;
    background: linear-gradient(#f53218, #da6550);
    border-radius: 5px;
}

.Blueberry {
    width: 50%;
    height: 20%;
    margin: 1% auto;
    background: linear-gradient(#4a05e9, #9b50f1);
    border-radius: 5px;
}
.Vanilla {
    width: 50%;
    height: 20%;
    margin: 1% auto;
    background: linear-gradient(#e4d583, #ece1bb);
    border-radius: 5px;
}
.Lemon {
    width: 50%;
    height: 20%;
    margin: 1% auto;
    background: linear-gradient(#0ff803, #91ce50);
    border-radius: 5px;
}
.Orange {
    width: 50%;
    height: 20%;
    margin: 1% auto;
    background: linear-gradient(#eb6e08, #e98e59);
    border-radius: 5px;
}

