Button {
    background-color: transparent;
    border: 1;
    color: rgb(0, 0, 0);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

Button:hover, Button:active {
    background-color: transparent;
    border: 1;
    color: rgb(248, 7, 7);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left:0;
    padding-left: 0;
}

.Success {
    color: #5C9210
}

.Danger {
    color: #944317
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}