.BuildControls {
    width: 100%;
    background-color: rgb(168, 67, 50);
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: white;
    margin: auto;
    padding: 10px 0;
}

button:disabled {
    background-color: white;
    color: #ccc;
    cursor: not-allowed
}